section.things-we-support.outer 
    .container
        .swiper-container.slider-things-we-support
            .slider-things-we-support__header
                h2 THINGS WE SUPPORT
                .slider-things-we-support__navigations
                    button(class="slider-things-we-support-button slider-things-we-support-button-prev" area-label="prev slider")
                        svg(width="75" height="75" viewBox="0 0 75 75" xmlns="http://www.w3.org/2000/svg")
                            path(d="M40.8929 14.8284L20.6569 35.0645L62.3006 35.0645V39.0645L20.6569 39.0645L40.8929 59.3006L38.0645 62.129L15 39.0645H14.7178V38.7823L13 37.0645L14.7178 35.3467V35.0645H15L38.0645 12L40.8929 14.8284Z")
                    button(class="slider-things-we-support-button slider-things-we-support-button-next" area-label="next slider")
                        svg(width="75" height="75" viewBox="0 0 75 75" xmlns="http://www.w3.org/2000/svg")
                            path(d="M34.1071 60.1716L54.3431 39.9355L12.6994 39.9355V35.9355L54.3431 35.9355L34.1071 15.6994L36.9355 12.871L60 35.9355H60.2822V36.2177L62 37.9355L60.2822 39.6533V39.9355H60L36.9355 63L34.1071 60.1716Z")

            .swiper-wrapper.slider-things-we-support__wrapper
                .swiper-slide.slider-things-we-support__slider
                    .things-we-support__item
                        .things-we-support__item-img 
                            img(src=require("Assets/images/things-we-support/e-commerce.jpg"), alt="E-COMMERCE image")
                        p RETAIL AND THE E - COMMERCE
                .swiper-slide
                    .things-we-support__item
                        .things-we-support__item-img 
                            img(src=require("Assets/images/things-we-support/conversation.jpg"), alt="CONVERSATION image")
                        p AI FOR THE CONVERSATION
                .swiper-slide
                    .things-we-support__item
                        .things-we-support__item-img 
                            img(src=require("Assets/images/things-we-support/personalize.jpg"), alt="Personalize image")
                        p AI PERSONALIZE AND RELEVANCE
                .swiper-slide
                    .things-we-support__item
                        .things-we-support__item-img 
                            img(src=require("Assets/images/things-we-support/virtual-reality.jpg"), alt="Virtual reality image")
                        p AI AUGMENTED AND VIRTUAL REALITY
                .swiper-slide
                    .things-we-support__item
                        .things-we-support__item-img 
                            img(src=require("Assets/images/things-we-support/vehicle-interior.jpg"), alt="Vehicle interior image")
                        p AI AUTOMATIC FOR VEHICLES
                    